.individualLeadList .title-container{
  padding-top: 15px;
  padding-bottom: 17px;
}
.individualLeadList .title-container h2{
  color: #8dc73f;
}
.individualLeadList .title-container  .nameTitle{
  color: #2b345b;
  font-size: 25px;
  font-weight: 600;
}
.individualLeadList .title-container .icon{
  color: #aeaeae;
  font-size: 21px;
}
.individualLeadList .main-panel>.panel-body {
    padding: 15px;
    background-color: #f8f8f8;
}

.individualLeadList .btns {
  display: block;  
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}
.individualLeadList .thumbnail-img{
    height: 85px;
    margin-top: 20px;
}
.individualLeadList .green-text{
    color: #8dc73f
}

.individualLeadList .green-bg{
    background-color: #8dc73f
}
.individualLeadList .des{
  color:#aeaeae;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}