@import "~styles/shared";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";

:global {
  .template-container {
    background-color: "#ededed";
  }

  .template-container {
    margin-top: 30px;
  }
  .template-container .first-col {
    /*width: 522px;*/
    height: 71px;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    padding-left: 10px;
    padding-top: 0.1px;
  }
  .template-container .main-panel {
    background-color: #f8f8f8;
    margin-top: 0px;
  }
  .template-container .main-panel .panel-list {
    margin: 15px;
    border: 1px solid #ededed;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  .template-container .panel-list a {
    background-color: #8dc73f;
    color: #fff;
    width: 112px;
    height: 31px;

  }
  .template-container .template-heading {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 14px;
    border-radius: 10px;
    color: #2b345b;
    margin-top: 5px;

  }
  .template-container .template-button {
    width: 115px;
    height: 40px;
    border-radius: 5px;
    background-color: #8dc73f;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #ffffff;
  }
  .template-container .main-panel {
    border-radius: none;
    border: none
  }
  .template-container .first-col .panel-heading {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #6b6969;
  }
  .template-container .list-value {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #6b6969;
  }
  .template-container .new-template-row {
    margin-bottom: 15px;
  }
}
