.features {
  display: flex;
  flex-direction: column;
  order: 3;
}

.feature-row {
  border-bottom: 2px solid #eaeaea;
}

.features-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 960px;

  .feature-icon {
    li {
      list-style: none;
      font-size: 200px;
      color: #8e8e8e;
    }
  }

  .feature-message {

    ul {
      padding-left: 25px;

      li {
        font-size: 18px;
        color: #8e8e8e;
        line-height: 30px;

        a {
          font-weight: 700;
          color: $primary-color;
        }
      }
    }
  }
}

.feature-background {
  background-color: $footer-background-color;
}

.pad {
  padding-right: 67px;
}