.header-navbar {
  // display: grid;
  // grid-template-columns: 7fr 4fr;
  // grid-area: header-navbar;
  background-color: $font-default-color;

  .logo-column {
    padding: 15px 0px 0px 15px;
  }

  .nav-column {
    padding-top: 10px;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      list-style: none;
      padding-left: 0px;
      margin-top: 7px;

      li {
        font-family: $font-secondary-family;
        font-weight: 400;
        font-size: 16px;

        a {
          color: $font-primary-color;
          text-decoration: none;
        }
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 72px 0px 85px 0px;
  background-image: url(../img/faces-bg.png);
  order: 1;
}
