.nav-header-container .navbar-default {
    background-color: white;
    border-color: #e7e7e7;
    min-height: 90px;
}
.nav-header-container .brand-name{
    font-size: 35px;
    color: rgb(46, 50, 90);
    font-weight: 600;
}
.nav-header-container .search-engine{
    box-shadow: none;
    border: none;
    outline: none;
    
}
.nav-header-container .search-icon{
    height: 25px;
    width: 25px;
}
.nav-header-container .searchbar-group{
    padding-top: 20px;
}
.nav-header-container{
  border-top: 5px solid;
  border-top-color: #8dc73f;
}

.nav-header-container .notify-icon{
    width: 20px;
    
    font-size: 25px;
    font:grey;
}
.nav-header-container .line{
    width: 0px;
    border: 1px #eaeaea solid;
    height: 30px;
    margin-left: 25px;
    margin-right: 0px;
}
.nav-header-container .username{

    display: inline-block;
    font-family: Arial;
    font-size: 1em;
    font-weight: 600;
    color: #2b345b;
    margin-top: -12px;
    position: relative;
    left: 100px
}
.nav-header-container .user-address{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #aeaeae;
    text-align: right;
    position: relative;
    top:-10px
}
.nav-header-container .profile-img{
    width: 54px;
    height: 54px;
    border-radius: 100px;
    margin-top: -10px;
    margin-left: -14px;
}
.nav-header-container .middle-col{
    margin-top: 20px;
}.nav-header-container .right-col{
    margin-top: 30px;
}
.nav-header-container .right-col .right-col-profile{
    margin-top: -60px;
    margin-left: 336px
}
.nav-header-container .right-col .right-col-userDetail{
    margin-top: -30px;
    margin-left: 86px
}

@media only screen and (max-width:598px){
    .nav-header-container .middle-col{
        width: 100%;
    }
    .nav-header-container .right-col .username{
        font-weight: normal;
        font-size: 12px;
    }
}
