@import "~styles/shared";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

:global {
  .lead-container .header {
    border-radius: 5px;
    padding: 10px 0px;
  }

  .lead-container .btns {
    min-width: 112px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .lead-container .list-name {
    color: #6b6969;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    font-weight: 600;
  }

  @media screen and (max-width: 1000px) {
    .lead-container .btns {
      min-width: 100%;
    }
  }
  .lead-container .edit-btn {
    background-color: #8dc73f;
    height: 40px;
    padding: 10px;
    font-weight: bold;
  }

  .lead-container .view-btn {
    background-color: #aeaeae;
    height: 40px;
    padding: 10px;
    font-weight: bold;

  }

  .lead-container .action-btn-edit-group {
    margin-top: 8px;
    text-align: right;
  }
  .lead-container .action-btn-view-group {
    margin-top: 8px;
    text-align: left;
  }
}

