.button {
  background: $primary-color;
  color: $font-primary-color !important;
  text-decoration: none !important;

  &:hover {
    background: darken($primary-color, 10%);
  }
}

.cta-button {
  border-radius: 5px;
  padding: 20px 50px;
  text-decoration: none;
  font-family: $font-secondary-family;
  color: $font-primary-color;
  font-size: 18px;
  display: inline-block;
}

.next-button {
  background: $primary-color;
  border-radius: 5px;
  border: none;
  padding: 15px 55px;
  margin-top: 13px;
  font-family: $font-secondary-family;
  color: $font-primary-color;
  font-size: 14px;
}

.buy-membership {
  background: $primary-color;
  border-radius: 5px;
  border: none;
  padding: 18px 50px;
  text-decoration: none;
  font-family: $font-secondary-family;
  color: $font-primary-color;
  font-size: 19px;
}
