.form-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 87px 50px 95px;

  .header-error {
    margin-bottom: 20px;

    span {
      font-weight: 600;
    }
  }

  p {
    margin-bottom: 20px;
  }

  label {
    color: red;
    font-weight: normal;
  }
}

.input {
  font-family: $font-secondary-family;
  font-size: 14px;
  width: 100%;
  padding: 14px;
  margin-bottom: 8px;
  border: 1px solid #D0D7DD;
  border-radius: 5px;

  &::placeholder {
    font-weight: 400;
    color: #989898;
  }

  &:focus {
    outline: 0 none;
    border-color: $primary-color;
  }
}

.select {
  // font-family: $font-secondary-family;
  // font-size: 14px;
  // color: $font-default-color;
  // width: 100%;
  // padding: 14px;
  // margin-bottom: 8px;
  // border: 1px solid #D0D7DD;
  // border-radius: 5px;
  // background-color: $font-primary-color;
  // background-image: url(../img/icons/arrow-down.svg);
  // -webkit-appearance: none;

    font-family: $font-secondary-family;
    width: 100%;
    font-size: 14px;
    padding: 14px;
    border: 1px solid #D0D7DD;
    border-radius: 5px;
    background: url(../img/icons/arrow-down.png) no-repeat right #fff;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance: none;
    background-position-x: 97%;
}
