// Font family
$font-primary-family: 'Catamaran', sans-serif;
$font-secondary-family: 'Roboto', sans-serif;

// Colors
$primary-color: #7dc855;
$font-default-color: #242424;
$font-primary-color: #ffffff;
$font-secondary-color: #d1dfeb;
$footer-background-color: #fafafa;
$footer-font-color: #323C47;

// Screen sizes
$desktop-large: 1200px;
$desktop-small: 975px; 
$tablet-large: 974px;
$tablet-small: 768px;
$phone-large: 767px;
$phone-small: 480px;
$custom-large: 479px;
$custom-small: 320px;