{
  "presets": [
    "react",
    [
      "env",
      {
        "useBuiltIns": true,
        "modules": "commonjs",
        "targets": {
          "browserslist": [
            "> 1%",
            "not OperaMini all",
            "not OperaMobile all",
            "not Samsung 4"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-es2015-arrow-functions"
  ]
}
