.lead-detail .header {
  border-radius: 5px;
}

.lead-detail .btns {
  margin-right: 2px;
  margin-bottom: 5px;
  width: 70px;
  margin-left: 5px;
}
.lead-detail .thumbnail-img{
    height: 120px;
    margin-top: 5px;
}
.lead-detail .green-text{
    color: #8dc73f
}

.lead-detail .green-bg{
    background-color: #8dc73f
}

.lead-detail .des{
  color:#aeaeae;
  font-family: 'SourceSansPro';
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}


.lead-detail .Front-End-Developer {
  height: 32px;
  font-size: 25px;
  font-weight: bold;
  color: #6b6969;
  margin-top: 35px;
}

.lead-detail .details{
  font-size: 17px;
  line-height: 1.53;
  text-align: left;
  color: #aeaeae;
  padding:20px
}

.lead-detail .name {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: #6b6969;
}

.lead-detail .des_label {
  font-size: 15px;
  font-weight: 700 !important;
  text-align: left;
  color: #6b6a6a;
}

.lead-detail .des_value  {
  font-weight: 500;
}
.lead-detail .btn-fb{
   background-color: #3b5999;
   color: white;
}
.lead-detail .btn-tw{
   background-color: #55acef;
   color: white;
}
.lead-detail .btn-li{
   background-color: #369ad0;
   color: white;
}
.lead-detail .action-btn-group{
  text-align: right;
}
.lead-detail .action-btn-group .contact-btn{
  width: 105px; 
  background-color: #aeaeae;
  color: white;
}
.lead-detail .action-btn-group .contact-btn-email{
  width: 105px; 
  background-color: #8dc73f;
  color: white;
}
.lead-detail .main-panel>.panel-body {
    padding: 15px;
    background-color: #f8f8f8;
}
.lead-detail .title-container{
  padding-top: 15px;
  padding-bottom: 17px;
}
.lead-detail .title-container h2{
  color: #8dc73f;
}
.lead-detail .title-container  .nameTitle{
  color: #2b345b;
  font-size: 25px;
  font-weight: 600;
}
.lead-detail .title-container .icon{
  color: #aeaeae;
  font-size: 21px;
}